@import url(http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,cyrillic);

/* Common styles */
html, body {
	margin: 0;
    padding: 0;
    height: 100%;
    min-width: 800px;
    font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

span {
	display: inline-block;
	width: 200px;
	background-color: #eee;
	padding-left: 10px;
	font-weight: bold;
}

body, header, main, header section, nav {
	display: flex;
}

body, header, nav {
	flex-direction: row;
}

main, header section {
	flex-direction: column;
}

body { /* Adaptive stretch */
	align-items: stretch;
}

main {
	flex: 1 1 100%;
	background-color: #f7f7f7;
}

aside {
	background-color: #888;
	text-align: center;
	flex: 0 0 200px;
}


.main {	/* main container */
	padding: 10px;
	flex: 1 1 100%;
	overflow-y: auto;
	display: flex;

}

header{
	padding: 10px;
	flex: 0 0 auto;
}

footer {
	flex: 0 0 1.4em;
	text-align: right;
	color: #555;
	font-style: italic;
	padding-right: 50px;
}

header, footer {
	background-color: #b3b3b3;
}
/*---------------------*/

/* Left menu button */
.menu_icon {
	width: 100%;
	background-color: #888;
	border: none;	
	padding: 20px 0;
	font-size: 16px;
	font-weight: bold;
}

.menu_icon:hover {
	background-color: #999;
}
/*---------------------*/

/* Buttons styles */
button {
	font-size: 14px;
	border: 1px solid #999;
	padding: 2px 10px;
	font-weight: bold; 
}

main button {
	margin-top: 5px;
}


button img {
	vertical-align: middle;
}
/*---------------------*/

/* Navigation button in task*/
nav {
	width:auto;
	height: 42px;
	background-color: #eee;
	justify-content: flex-start;
	padding: 0;
	margin-top: 10px;
}

nav a {
	display: block;
	box-sizing: border-box;
	padding: 10px;
	border-right: 2px solid #e3e3e3;
	text-align: center;
	flex: 0 0 auto;
}

nav a:hover {
	background-color: #999;
	box-shadow: 2px 0px 8px #eee;
}

/*---------------------*/

/* Info block in header*/
.title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #333;
	text-shadow: 2px 2px 4px #eee;
}
.header_img {
	display: block;
	flex: 0 0 150px;
	height: 150px;
	margin: 0 20px;
	box-shadow: 0px 0px 12px #555;
	border-radius: 10px;
}

header section {
	flex: 1 1 auto;
}

header button {
	margin-left: 20px;
}

ul {
	display: block;
	border: 1px solid #999;
	padding: 0;
	list-style-type: none;
	background-color: #c7c7c7;
	margin: 0;
}

li input {
	height: 19px;
	padding: 0;
	position: relative;
	top: -1px;
	width: 280px;
}

ul li {
	border-bottom: 1px solid #999;
}

ul :last-child {
	border: none;
}

.search_field {
	background-color: #eee;
	border: 2px solid #888;
	height: 30px;
	width: 50%;
	border-radius: 15px;
	font-size: 16px;
	background-image: url(/images/search-icon.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	cursor: pointer;
	outline: none;	
	padding-left: 40px;
	margin-left: 20px;
}
/*------------------*/



table { 
	width: 100%;
    border-spacing: 0; 
    margin-bottom: 10px;
}

tbody th {
	border-right: 2px outset #eee;
}

table a {
	display: block;
}

td {
	padding: 5px; 
}

tbody>tr:nth-child(2n+1) {
    background-color: #ddd;
}

tbody>tr:hover {
	background-color: #aaa;
}

.min_button {
	width:50%;
	float: left;
}

.container {
	min-width: 500px;
	padding: 10px;
	margin: auto;
	box-shadow: 2px 2px 16px #999;
	border-radius: 10px;
}