@import url(http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,cyrillic);

/* Common styles */
html, body {
	margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

body, header, main, section, nav, .main, .container {
	display: flex;
}

body, header, nav, .main, .as_row{
	flex-direction: row;
}

main, section, .container, .as_column{
	flex-direction: column;
}

body { /* Adaptive stretch */
	align-items: stretch;
}

main {
	flex: 1 1 100%;
	background-color: #f7f7f7;
}

aside {
	background-color: #888;
	text-align: center;
	flex: 0 0 200px;
}


.main {	/* main container */
	padding: 10px;
	flex: 1 0 100%;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
}

header{
	padding: 10px;
	flex: 0 0 auto;
	align-items: center;
}

footer {
	flex: 0 0 1.4em;
	text-align: right;
	color: #555;
	font-style: italic;
	padding-right: 50px;
}

header, footer {
	background-color: #b3b3b3;
}
/*---------------------*/

/* Left menu button */
.menu_icon {
	width: 100%;
	background-color: #888;
	border: none;	
	padding: 10px 0;
	font-size: 16px;
	font-weight: bold;
}

.menu_icon:hover {
	background-color: #999;
}
/*---------------------*/

/* Info block in header*/
.title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #333;
	text-shadow: 2px 2px 4px #eee;
	padding-bottom: 10px;
}
.header_img {
	display: block;
	flex: 0 0 128px;
	height: 128px;
	margin: 0 20px;
	box-shadow: 0px 0px 8px #555;
	border-radius: 10px;
}

a .header_img:hover {
	box-shadow: 0px 0px 12px #222;
}

section {
	flex: 1 1 auto;
}

.search_field {
	background-color: #eee;
	border: 2px solid #888;
	height: 30px;
	border-radius: 15px;
	font-size: 16px;
	background-image: url(/images/search-icon.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	cursor: pointer;
	outline: none;	
	padding-left: 40px;
	margin-left: 20px;
}
/*------------------*/

table { 
	width: 100%;
	border-spacing: 0; 
    margin-bottom: 10px;
}

table a {
	display: block;
}

td {
	padding: 5px; 
}

/* List of task or clients*/
.lined_table tbody>tr:nth-child(2n+1) {
    background-color: #ddd;
}

.lined_table tbody>tr:hover {
	background-color: #aaa;
}
/*----------------------*/

/* Table for output data of task and client info */
.data_table{
	text-align: left;
	border: 1px solid #777;
	background-color: #ddd;
}

.data_table td, .data_table th{
	padding: 0;
	padding-left: 10px;
}

.data_table th{
	width: 200px;
	background-color: #ccc;
}

.data_table input,.data_table select{
	padding: 0;
	width: 95%;
	position: relative;
	top: -1px;
}
/*-----------------------*/

/* Container in main window with data */
.container {
	flex: 0 0 500px;
	padding: 10px;
	margin: auto;
	box-shadow: 2px 2px 10px #999;
	border-radius: 10px;
	background-color: #e7e7e7;
}

.info_block {	/* This block use with client's tasks info table*/
	flex-direction: row;
	align-content: stretch;	
}

.info_block section {
	align-content: space-around;
	align-items: center;
}

.info_block a:hover {
	text-shadow: 2px 2px 5px #555, -1px -1px 2px #fff;
}

.measure_block {
	flex: 1 0 auto;
}

#add_img, #add_txt {	/* It's a row of measure table where textarea and picture download block is in content*/
	display: none;
}

tfoot textarea {
	width: 100%;
	margin-right: 5px;
	box-sizing: border-box;
}

.thumbs {
	justify-content: center;
}

.thumb_container {
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 6px #777;
}

a .thumb_container:hover {
	box-shadow: 2px 2px 10px #333;
}

.auth_panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 8px #555;
	height: 128px;
	padding: 0 5px;
	box-sizing: border-box;
}

/*---------------------*/

/* Buttons styles */
button {
	font-size: 14px;
	font-weight: bold; 
}

.nav_container {
	justify-content: start;
}

.form_container {
	justify-content: center;
}

.btn_nav {
	padding: 5px;
	text-align: center;
	font-size: 16px;
	flex: 0 0 120px;
	border: 1px solid #999;
	outline: none;
	color: navy;
}

.btn_nav:hover {
	background-color: #999;
	text-shadow: 1px 1px 5px #eee;
}

.btn_form {
	border-radius: 5px;
	border: none;
	padding: 10px;
	padding-left: 40px;
	background-color: #c7c7c7;
	background-repeat: no-repeat;
	background-position: 5px center;
	box-shadow: 2px 2px 4px #999;
	margin: 0 5px;
}

.btn_form:hover {
	background-color: #ddd;
}

.btn_auth {
	width: 160px;
	padding: 2px;
	margin-top: 5px;
}

.btn_apply {background-image: url(/images/apply-icon.png);}
.btn_cancel {background-image: url(/images/cancel-icon.png);}
.btn_edit {background-image: url(/images/edit-icon.png);}
.btn_add_new {background-image: url(/images/add-new-icon.png);}
.btn_add_img {background-image: url(/images/image-icon.png);}
.btn_add_txt {background-image: url(/images/add-text-icon.png);}
.btn_add_user {background-image: url(/images/add-user-icon.png);}
.btn_measure {background-image: url(/images/measure-icon.png);}